html {
width: 99%;
margin: 0 auto
}

body {
font: .95em Arial;
color: black;
background: white;
}

p {
margin: .9em 0 0
}

.post-info, .topic-info, #pages, .nav {
margin: 0;
padding: 0;
list-style: none
}

.post-info li, .topic-info li, #pages li, .nav li {
display: inline;
}

.reply-wrap {
padding-left: .6em;
background: white
}

.post-info li + li:before, .topic-info li + li:before, #pages li + li:before {
content: ' | ';
color: #dde
}

.topic-info li + li:before {
	color: blue
}

.post {
margin-top: 1em;
padding-left: .2em;
border: 1px solid lightgray;
border-right: none;
border-bottom: none
}

.post-body {
padding-left: .2em;
overflow: auto
}

#threadlist > .post {
	border-right: 1px solid lightgray;
}

#topiclist > div /* td */ {
	padding: 0
}

#topiclist h3 {
	margin: .6em 0
}

.topic * {
display: inline
}

#footer {
font: small Monospace;
}

a {
	color: blue;
	padding: 2px;
	text-decoration: none
}

#topiclist a:link {
text-decoration: underline
}

.time {
	font-size: small;
}

.post-info {
display: inline;
float: left
}

.post-info-wrap {
background: #eef;
overflow: hidden
}

.nav {
float: right
}

.nav a  {
	padding: 0 .25em
}

a:hover {
	background: lightsteelblue;
}

.post-body a:hover {
	background: inherit
}

label {
cursor:pointer
}

#error {
background: #fef;
padding: .4em
}

#error:before {
display: block;
content: 'Error:';
}

.post:target > .post-info-wrap {
font-weight: bold
}

.author.tc:after {
content: ' *';
color: red;
}

#topiclist .sticky > :first-child:before{
content: '!!!';
color: red
}

h2 a {
	color: inherit
}

#announcement {
color: #666
}