html {
width: 99%;
margin: 0 auto
}

body {
font: .95em Arial;
color: black;
background: white;
}

.post-info, #pages {
margin: 0;
padding: 0;
list-style: none
}

.post-info li, #pages li {
display: inline;
}

.reply-wrap {
padding-left: .5em;
background: white
}

.post-info li + li:before, #pages li + li:before {
content: ' | ';
color: #dde
}

.post-info {
background: #eef
}

.post {
margin-top: 1em;
padding: 0 0 0 .4em;
border: 1px dotted black;
border-right: none;
border-bottom: none
}

body > .post {
	border-right: 1px dotted black;
}

.topiclist, table {
background: #eee
}

.topiclist {
	width: 100%;
	border: 1px solid green
}

.topiclist .odd {
	background: #eee
}

.topiclist td {
	padding: .2em
}

.topiclist .even {
	background: #ddd
}

.topiclist th, th {
background: green;
color: white
}

#footer {
font: small Monospace;
}

a {
	color: blue;
	padding: 2px;
	text-decoration: none
}

.topiclist a:link {
text-decoration: underline
}

.time {
	font-size: small;
}

.nav a  {
	padding: 0 .25em
}

a:hover {
	background: lightsteelblue;
}

.post-body a:hover {
	background: inherit
}

label {
cursor:pointer
}

#error {
background: #fef;
padding: .4em
}

#error:before {
display: block;
content: 'Error:';
}

.post:target > .post-info {
font-weight: bold
}

.author.tc:after {
content: ' *';
color: red;
}

.topiclist .sticky > :first-child:before{
content: '!!!';
color: red
}